install/
log/
build/

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*~

# Emacs
.#*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE

# ignore IDE files
.idea/
.vscode/

# testing files for the image_rec package
# src/image_rec/image_rec/test_imgpost.py
src/image_rec/image_rec/test_imgsrc.py
src/image_rec/image_rec/post_processor.py

# ML models 
src/image_rec/models